<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/principalCss.css}">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <title>Principal</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>
<body>
    <header id="header">
        <div class="logo"></div>
        <div id="hamburg-mobile"></div>
            <nav id="navegacao">
                <ul id="mobile">
                    <li><a href="loginEstudante.html" id="link-1">Estudante</a></li>
                    <hr class="linha-mobile">
                    <li><a href="login-Empresa.html" id="link-2" >Empresa</a></li>
                    <hr class="linha-mobile">
                    <li><a href="" id="link-3">Vagas</a></li>
                    <hr class="linha-mobile">
                    <li><a href="index.html"id="link-4"> | Inicio</a></li>
                </ul>
            </nav>     
        
    </header>
    <main>
     
    
    <div class="container-main1">
        <div class="imagem-main1"></div>
            <div class="caixatexto">
                <h1 class="titulo">O melhor site de Desenvolvimento</h1>
                <p class="sub-titulo">aajopjskojopjajsklçjaklçjlkjlkjsfdçljljfgdçjgljfdljgdflgdçlfg~dfjjg~çdfj~djdgj~çjfjgkljçlkj</p>
            </div>
       
     </div>      
    <div class="teste">
        <div th:each=" cont : ${lista}" class="vagas">
            <h3 th:text="${cont.nome}" id="nome"></h3>
            <p th:text="${cont.cbo}" id="cbo" style="display: none;"></p>
            <div class="d-flex">
               <div class="contato">
                <div class="informacoes">
                    <p>Area: </p>
                    <p th:text="${cont.area}"></p>
                </div>

                <div class="informacoes">
                    <p>Cidade: </p>
                    <p th:text="${cont.cidade}"></p>
                </div>
               </div>
               <div class="contato">
                <div class="informacoes">
                    <p>Telefone: </p>
                    <p th:text="${cont.tell}"></p>
                </div>
                <div class="informacoes">
                    <p>Email: </p>
                    <p th:text="${cont.email}"></p>
                </div>
               </div>
                
             
                
            </div>
            <div class="d-flex2">
               
                    <div class="informacoes">
                        <p>Departamento: </p>
                        <p th:text="${cont.departamento}" id="departamento"></p>
                    </div>

                    <div class="informacoes">
                        <p>Atribuicao: </p>
                        <p th:text="${cont.atribuicao}"></p>
                    </div>

                    
                
            </div>
            <div class="d-flex2">
                <div class="informacoes">
                    <p>Tarefas: </p>
                    <p th:text="${cont.tarefas}"></p>
                </div>
                <div class="informacoes">
                    <p>Formacao: </p>
                    <p th:text="${cont.formacao}"></p>
                </div>
            </div>
            <div class="d-flex3">
               
                <p>Experiencia: </p>
                <p th:text="${cont.experiencia}"></p>
                
            </div>
            <div class="d-flex2">
                <div class="informacoes">
                    <p>Habilidade comportamentais: </p>
                    <p th:text="${cont.habilidade_comportamentais}"></p>
                </div>
                <div class="informacoes">
                    <p>Habilidades tecnicas: </p>
                    <p th:text="${cont.habilidades_tecnicas}"></p>
                </div>
                
            </div>
            <button th:if="${session.aluno != null}" type="button" id="Enviar">Inscreve-se</button>
        </div>
        
        <p th:if="${session.aluno != null}" th:text="${session.aluno.aluno}" style="display: none;" id="aluno"></p>
        <p th:if="${session.aluno != null}" th:text="${session.aluno.curso}" style="display: none;" id="curso"></p>
        <p th:if="${session.aluno != null}" th:text="${session.aluno.modulo}" style="display: none;" id="modulo"></p>
       
       
    </div>
    </main>
    <footer class="rodape">
        <div class="caixaRodape">
            <div class="logo"></div>
            <div class="footer-inform">
                <ul>
                    <h4>Geral</h4>
                    <li>Cadastre-se</li>
                    <li>Centrar de Ajuda</li>
                    <li>Sobre</li>
                </ul>
                <ul>
                    <h4>Navegar pelo Electrus</h4>
                    <li>Leading</li>
                    <li>Vagas</li>
                    <li>Salario</li>
                </ul>
                <ul>
                    <h4>Soluções Business</h4>
                    <li>Talentos</li>
                    <li>Marketing</li>
                    <li>Vendas</li>
                </ul>
                <ul>
                    <h4>Diretórios</h4>
                    <li>Usuarios</li>
                    <li>Vagas</li>
                    <li>Empresas</li>
                    <li>Soluções</li>
                    <li>Publicações</li>
                    <li>Artigos</li>
                </ul>

                <ul>
                    <h4>Programadores</h4>
                    <li><a href="https://github.com/Alsn2200">Alisson Brito</a></li>
                    <li><a href="">Beatriz Rodrigues</a></li>
                    <li><a href="https://github.com/FellipeS13">Felipe do Santos</a></li>
                    <li><a href="https://github.com/Thiag0nery">Thiago Nery</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
    <script th:src="@{/Electus_Scripts/vagas.js}"></script>
</body>
</html>