<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/Menu.css}">
    <link rel="stylesheet" th:href="@{/telasDePerfil/turma.css}">
    <title>Principal</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>
<body>
    <header id="header">
        <div class="logo"></div>
        <div id="hamburg-mobile"></div>
            <nav id="navegacao">
                <ul id="mobile">
                    <li><a href="loginEstudante.html" id="link-1">Estudante</a></li>
                    <hr class="linha-mobile">
                    <li><a href="login-Empresa.html" id="link-2" >Empresa</a></li>
                    <hr class="linha-mobile">
                    <li><a href="" id="link-3">Vagas</a></li>
                    <hr class="linha-mobile">
                    <li><a href="index.html"id="link-4"> | Inicio</a></li>
                </ul>
            </nav>     
        
    </header>
    <main>
     <h2 class="turma-titulo">Desenvolvimento de Sistemas</h2>
     <h2>Alunos</h2>
    <div th:each="alunos : ${Turmas}">
        <p th:if="|${alunos.curso } == Desenvimento de Sistemas|" th:text="${alunos.aluno}"></p>
    </div>

    <h3>Avalie o aluno</h3>
    <div class="d-flex">
    <div th:each="alunos : ${Turmas}" class="container-avaliacao">
       <div class="box-alunos">
       
        <p th:if="|${alunos.curso } == Desenvimento de Sistemas|" th:text="${alunos.aluno}" class="aluno"></p>
        <p th:id="${alunos.id}" style="display: none;"></p>
        <div class="flex">
          <p>Codificação de programas</p>
          <ul class="avaliacao">
              <li class="codificacao ativo" data-avaliacao="1"></li>
              <li class="codificacao" data-avaliacao="2"></li>
              <li class="codificacao" data-avaliacao="3"></li>
              <li class="codificacao" data-avaliacao="4"></li>
              <li class="codificacao" data-avaliacao="5"></li>
            </ul>
        </div>
        
          <div class="flex">
            <p>Desenvolvimento de protótipos</p>
            <ul class="avaliacao">
              <li class="desenvolvimento ativo2" data-avaliacao="1"></li>
              <li class="desenvolvimento" data-avaliacao="2"></li>
              <li class="desenvolvimento" data-avaliacao="3"></li>
              <li class="desenvolvimento" data-avaliacao="4"></li>
              <li class="desenvolvimento" data-avaliacao="5"></li>
            </ul>
          </div>
        
          <div class="flex">
            <p>Realização de testes</p>
            <ul class="avaliacao">
              <li class="realizacao ativo3" data-avaliacao="1"></li>
              <li class="realizacao" data-avaliacao="2"></li>
              <li class="realizacao" data-avaliacao="3"></li>
              <li class="realizacao" data-avaliacao="4"></li>
              <li class="realizacao" data-avaliacao="5"></li>
             
            </ul>
          </div>
         
          <div class="flex">
            <p>Implementação de Banco de Dados</p>
            <ul class="avaliacao">
              <li class="implementacao ativo4" data-avaliacao="1"></li>
              <li class="implementacao" data-avaliacao="2"></li>
              <li class="implementacao" data-avaliacao="3"></li>
              <li class="implementacao" data-avaliacao="4"></li>
              <li class="implementacao" data-avaliacao="5"></li>
             
            </ul>
          </div>
          
          <div class="flex">
            <p>Documentação de Programa</p>
            <ul class="avaliacao">
              <li class="documentacao ativo5" data-avaliacao="1"></li>
              <li class="documentacao" data-avaliacao="2"></li>
              <li class="documentacao" data-avaliacao="3"></li>
              <li class="documentacao" data-avaliacao="4"></li>
              <li class="documentacao" data-avaliacao="5"></li>
             
            </ul>
          </div>
         
          <div class="flex">
            <p>Alteração e Correção de Programa</p>
            <ul class="avaliacao">
              <li class="Correcao_Programa ativo6" data-avaliacao="1"></li>
              <li class="Correcao_Programa" data-avaliacao="2"></li>
              <li class="Correcao_Programa" data-avaliacao="3"></li>
              <li class="Correcao_Programa" data-avaliacao="4"></li>
              <li class="Correcao_Programa" data-avaliacao="5"></li>
             
            </ul>
          </div>
          
          <div  class="flex">
          <p>Alteração da estrutura de armazenamento de Dados</p>
          <ul class="avaliacao">
            <li class="alteracao_armazenamento ativo7" data-avaliacao="1"></li>
            <li class="alteracao_armazenamento" data-avaliacao="2"></li>
            <li class="alteracao_armazenamento" data-avaliacao="3"></li>
            <li class="alteracao_armazenamento" data-avaliacao="4"></li>
            <li class="alteracao_armazenamento" data-avaliacao="5"></li>
          </ul>
          </div>
          <div  class="flex">
            <p>Atualização de Documentação do Programa</p>
            <ul  class="avaliacao">
              <li class="atualizacao_Documentacao ativo8" data-avaliacao="1"></li>
              <li class="atualizacao_Documentacao" data-avaliacao="2"></li>
              <li class="atualizacao_Documentacao" data-avaliacao="3"></li>
              <li class="atualizacao_Documentacao" data-avaliacao="4"></li>
              <li class="atualizacao_Documentacao" data-avaliacao="5"></li>
            </ul>
            
          </div>

        

          </div>
        </div>
        <button id="Envio">Enviar</button>
    </div>
    
    </main>
    <script th:src="@{/btnMenu-scripts/Script-hamburg.js}"></script>
    <script th:src="@{/Electus_Scripts/Turma.js}"></script>
</body>
</html>