*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
html,body{
    height: 100%;

}

header{
    width: 100%;
    height: 13.5vh;
    background-color: #f78e0c;
    padding: 10px 4rem;
    display: flex;
    position: fixed;
    box-shadow: 0 0 1rem 0.3rem black;
    z-index: 1;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url('Imagens/Logo.png');
    width: 14vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
}
header ul{
   display: flex;
   gap: 40px;
}
header li{
    list-style: none;
}
.color-text{
    color: white;
    transition: 2s;
}
a{
    text-decoration: none;
    color: black;
}
header li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
header li a:hover{
    font-weight: 800;
}
.vazio{
    width: 100%;
    height: 9rem;
}
/* main1 */

/* #click{
    height: 51rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-color: beige;
    height: 51rem;
    width: 100%;
    transition: 1s;
    background-position: top;
}
.splite{
    background-image: url('Imagens/principal-vaga\(1\).jpg');
}
.splite2{
    background-image: url('Imagens/principal-vagas.jpg');
}
.splite3{
    background-image: url('Imagens/principal-vaga\(2\).jpg');
} */

/* .splite{
    width: 100%;
    height: 51rem;
    display: flex;
} */
#slider{
    width: 100%;
    height: 51rem;
    position: relative;
}
#slider img.selected { 
    opacity: 1;
    transition: 1s;
}
#slider img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 51rem;
}
.block{
    display: block!important;
}
/* .slide{
    width: 100%;
    display: none;
    height: 51rem;
} */
/* .splite4{
    background-image: url('Imagens/principal-vaga\(1\).jpg');
} */

.container-vagas{
   padding: 80px;
   
}
.bg{ 
    background-color: #5a5855;
    width: 100%;
    position: absolute;
    height: 100%;
}
.bg-color{
    position: relative;
    /* background-color: #5a5855; */
}
.vagas:hover{
    transform: scale(1.03);
}
.infor{
    position: relative;
    padding: 7px;
}
.vagas:hover .bg{
    animation-name: caixa;
    background-color: #f78e0c;
    animation-duration: 0.8s;
}
@keyframes caixa {
    0% {background-color: #5a5855; width: 0%;}
    100% {background-color: #f78e0c;width: 100%;}
}


.d-flex{
    display: flex;
    justify-content: space-between;
}
.caixa-vagas{
    padding: 9px 9px 9px 17px;
    margin-bottom: 161px;
}

#departamento{
    text-align: center;
}
.titulo-vaga{
    margin-bottom: 40px;
    text-align: center;
}
.container-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}
.informacoes{
    margin-top: 7px;
}
.w-100{
    width: 100%;
    text-align: center
}
#Enviar{
    width: 7rem;
    height: 2.5rem;
    font-size: 17px;
    margin: 30px 0;
    outline: none;
    box-shadow: 0 0 3px 1px black;
    border-radius: 12px;
}
#Enviar:hover{
    background-color: rgb(209, 209, 209);
}
.informacoes p{
    display: inline;
}
.espaco{
    margin-top: 20px;
}

.vagas h3{
    text-align: center;
    margin-bottom: 12px;
    font-size: 42px;
}

.vagas{
    width: 29rem;
    font-size: 18px;
    
    background-color: rgb(241, 241, 241);
}
/* FOOTER */
footer{
    position: absolute;
    width: 100%;
}

.caixaRodape {
    width: 100%;
    display: flex;
    padding: 4% 1.5%;
    height: 40vh;
    align-items: center;
    justify-content: space-between;
    background-color: #f78e0c;
    border-top: 1px solid black;
}
.caixaRodape .logo{
    width: 25vw;
    height: 14vh;
}
.footer-inform{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.linha-mobile{
    display: none;
}
.caixaRodape ul{
    list-style: none;
}
.caixaRodape .footer-inform h4{
    font-size: calc(5pt + 1vw);
}
.caixaRodape ul li{
    font-size: 9pt;
}
@media (max-width: 940px){
    .caixaRodape{
    margin-top: 100px;
    width: 100%;
    display: flex;
    padding: 4% 1.5%;
    height: 85vh;
    align-items: center;
    justify-content: center;
    background-color: #f78e0c;
    border-top: 1px solid black;
    flex-wrap: wrap;
    }
    .caixaRodape .footer-inform h4 {
        font-size: calc(5pt + 2.5vw);
        text-align: center;
    }
    .caixaRodape ul li {
        font-size: 13pt;
        text-align: center;
    }
    .footer-inform {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px;
    }
    .estudante, .empresa {
        height: 46vh;
    }
    .opacity-estudante {
        height: 46vh;
    }
    .opacity-empresa {
        
        height: 46vh;
       
    }   
    .caixa-box{
        height: 78vh;
        width: 44vw;
    }
}